.card {
    width: 200px;
    height: 300px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s all;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: none;
}

.card img {
    width: 90%;
}

.card h3 {
    letter-spacing: 2px;
}
.card .type {
    color: gray;
    letter-spacing: 1px;
}